/* Tag CSS */

body{
	margin: 20px;
	background-color: #FFDD77;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

/* Class CSS */

.description{
	border-style: dashed;
	border-color: #BA9935;
	text-align: justify;
	text-justify: inter-word;
	font-weight: bold;
	margin: 25px;
	padding: 25px;
}

.profilePicture{
	display: inline-block;
	max-width: 199px;
	max-height: 199px;
	width: auto;
	height: auto;
}